div {
    
    width: 350px;
        height: 350px;
        border: 2px solid black;
      border-radius: 20px;
      box-shadow: 3px 3px 5px black;
  }
  h1 {
      
    text-align: center;
  }
  
  
  img {
    width: 200px;
      height: 200px;
      position: relative;
      
    
  }
  button {
    text-align: center;
     position: relative;
      bottom: 15px;
         border-color: #ffffff;
      background-color: #ffffff;
  }
  button:hover {
    text-shadow: 2px 2px 2px blue;
      border-color: #ffffff;
  }